.full-width-image {
  width: 100%; /* Устанавливаем ширину изображения на 100% */
  height: 450px; /* Автоматически устанавливаем высоту, чтобы сохранить пропорции */
  display: block; /* Убираем пространство под изображением */
  margin: 0 auto; /* Центризуем изображение */
}